<!DOCTYPE html>
<html lang="az" xmlns:th="http://www.thymeleaf.org">
<body>

<footer id="footer" class="footer dark-background" th:fragment="footer">

  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt icon"></i>
        <div class="address">
          <h4>Ünvan</h4>
          <p>[Adil Ekberov]</p>
          <p>[Bakı]</p>
        </div>

      </div>

      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>Əlaqə</h4>
          <p>
            <strong>Telefon:</strong> <span>[+994 55 270 70 98]</span><br>
            <strong>Email:</strong> <span>[ismayanar27@gmail.com]</span><br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>İş Saatları</h4>
          <p>
            <strong>Bazar ertəsi - Şənbə:</strong> <span>11:00 - 02:00</span><br>
            <strong>Bazar:</strong> <span>Bağlıdır</span>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <h4>Bizi İzləyin</h4>
        <div class="social-links d-flex">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Yummy</strong> <span>Bütün hüquqlar qorunur</span></p>
  </div>

</footer>
</body>
</html>